@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");
body {
  background-color: #bdbdbd;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h3,
h4,
h5 {
  font-family: "Source Code Pro", monospace;
}

h4 {
  color: whitesmoke;
  text-shadow: 2px 2px #9f6161;
}

a {
  color: black;
}

ol li,
ul li {
  color: #881111;
}

.essay {
  background: #000;
  padding: 7%;
}
.essay h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #fff;
  font-size: 90px;
  margin: 0;
  padding: 0 0 2% 0;
}
.essay h2 {
  color: #e6c9c9;
  font-size: 1.1em;
  margin-bottom: 0;
}
.essay h2 + p {
  margin-top: 0.2em;
}
.essay p {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}
.essay sup {
  color: #8538ff;
}
.essay .footnote-list sup {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
}
.essay .footnote-list sup a:last-of-type {
  color: lime;
}
.essay a {
  color: #8538ff;
}
.essay a.footnote {
  text-decoration: none;
  font-size: 0.75em;
}
.essay blockquote {
  color: #e6c9c9;
  font-family: Helvetica, Arial, sans-serif;
}
.essay .essay__body {
  width: 50%;
  max-width: 550px;
}
.essay .essay__image {
  position: absolute;
  width: 35%;
  max-width: 520px;
  right: 7%;
}
.essay .essay__image img {
  width: 100%;
}
.essay .essay__image--diptych img {
  width: 49%;
}
.essay .essay__image-description {
  font-size: 0.8em;
  font-style: italic;
  color: #e6c9c9;
  margin: 0 0 2% 0;
}
.essay .read-more {
  font-family: "Chakra Petch", sans-serif;
  padding: 20px;
  background: white;
  border: 6px outset white;
  position: absolute;
  right: 7%;
}

.essay-research {
  padding: 0 2%;
}

.research-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.research-grid h3 {
  flex: 0.7;
}

.research-block {
  width: 46%;
}
.research-block:not(:last-of-type) {
  padding-right: 18px;
}

.documentary__element,
.mixed-grid__img {
  position: relative;
}
.documentary__element p,
.mixed-grid__img p {
  display: none;
}

.documentary__element {
  width: 100%;
}

.documentary__element:hover p,
.mixed-grid__img:hover p {
  display: initial;
  background: white;
  padding: 12px;
  font-size: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.next-step {
  text-align: right;
}

.mixed-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1100px;
}

.mixed-grid__column {
  display: flex;
  flex-flow: column wrap;
  max-height: 8000px;
}

.mixed-grid__article,
.mixed-grid__img {
  background-color: white;
  padding: 2%;
  margin-bottom: 1%;
  width: 44%;
}

.mixed-grid__article {
  align-self: center;
  max-height: 520px;
  overflow-y: scroll;
  border-style: inset;
}

.mixed-grid__img {
  align-self: flex-start;
  border-style: outset;
}
.mixed-grid__img img {
  width: 100%;
}

.mixed-grid h2 a {
  color: #695106;
}

.mixed-grid__article p {
  color: black;
}

.tabs-wrapper {
  margin-bottom: 100px;
}
.tabs-wrapper .tab__title {
  display: inline-block;
  background: #f2f0f4;
  border: 3px solid black;
  border-bottom: 0;
  padding: 10px 30px;
}
.tabs-wrapper .tab__title:hover,
.tabs-wrapper .tab__title:focus {
  cursor: pointer;
  background: #d9d7db;
}
.tabs-wrapper .tab__content {
  background: #f2f0f4;
  border: 3px solid black;
  padding: 3%;
  width: 1000px;
}
.tabs-wrapper .tab__content:not(:first-of-type) {
  display: none;
}

.marked {
  background-color: aqua;
  display: inline;
}

.videowrapper {
  max-width: 1000px;
  margin: 1% auto -1%;
}

@media screen and (max-width: 768px) {
  .essay h1 {
    font-size: 40px;
  }
  .essay .essay__body {
    width: 100%;
  }
  .essay .essay__image {
    position: initial;
    margin-bottom: 2%;
    width: 100%;
  }
  .essay .read-more {
    position: initial;
    margin: 20px 0;
  }

  .research-grid,
.mixed-grid,
.mixed-grid__column {
    flex-flow: column nowrap;
    max-height: initial;
  }

  .mixed-grid__article,
.mixed-grid__img,
.videowrapper {
    margin: 1%;
    width: initial;
  }

  .research-block {
    width: 100%;
  }

  .tabs-wrapper {
    width: 90%;
  }
  .tabs-wrapper .tab__title {
    display: block;
    border-bottom: 3px solid black;
  }
  .tabs-wrapper .tab__content {
    display: none;
    width: initial;
  }
}

/*# sourceMappingURL=essay.css.map */
