@import url('https://fonts.googleapis.com/css?family=Creepster|Krona+One|Neuton|Press+Start+2P|Stalinist+One');
@import url('https://fonts.googleapis.com/css?family=Scheherazade');

$white: #fff;
$black: #000;
$primary-red: #881111;
$lavender: #d0cad8;
$grey: #b1b1b1;
$green: rgb(21, 255, 0);

$ff-neuton: 'Neuton', serif;
$ff-krona: 'Krona One', sans-serif;
$ff-stalinist: 'Stalinist One', cursive;
$ff-scheherazade: 'Scheherazade', serif;



// font-family: 'Krona One', sans-serif;
// font-family: 'Neuton', serif;
// font-family: 'Stalinist One', cursive;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Creepster', cursive;

body {
  background-color: $lavender;
  font-family: $ff-neuton;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 0;
}

h2 {
  color: $black;
  font-family: $ff-krona;
}

h3 {
  font-family: 'Stalinist One', cursive;
}

.menu {
  display: flex;
  list-style: none;

  li {
    padding: 10px 20px;
  }
}

p {
  color: $primary-red;
}

article {
  padding: 0 5%;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.chaos-page {
  background-color: $black;
  padding: 5%;

  h1 {
    font-family: $ff-krona;
    font-size: 30px;
    color: $white;
  }

  h2 {
    font-family: $ff-krona;
    font-size: 15px;
    color: $lavender;
  }

  .name {
    color: $primary-red;
  }

  p,
  a {
    font-family: $ff-scheherazade;
    font-size: 16px;
    color: $grey;
  }

  a {
    color: $green;
  }
}

.chaos-wrapper {
  display: flex;
  flex-flow: row wrap;

  article {
    flex: 3;
  }

  aside {
    flex: 2;

    img {
      width: 100%;
    }

    .videowrapper,
    img {
      margin: 0 0 20px;
    }
  }
}

.process-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  img {
    width: 49%;
    padding-bottom: 2%;
  }
}
