@import url('https://fonts.googleapis.com/css?family=Scheherazade|Krona+One|Neuton|Stalinist+One');

$white: #fff;
$black: #000;
$primary-red: #881111;
$lavender: #d0cad8;
$grey: #cecece;
$light-grey: #e8e8e8;
$green: rgb(21, 255, 0);

$ff-neuton: 'Neuton', serif;
$ff-krona: 'Krona One', sans-serif;
$ff-stalinist: 'Stalinist One', cursive;
$ff-scheherazade: 'Scheherazade', serif;

body {
  background-color: $lavender;
  font-family: $ff-neuton;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 0;
}

h2 {
  color: $black;
  font-family: $ff-krona;
}

h3 {
  font-family: 'Stalinist One', cursive;
}

.menu {
  display: flex;
  list-style: none;

  li {
    padding: 10px 20px;
  }
}

p {
  color: $primary-red;
}

article {
  padding: 0 5%;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  border: 0;
}

.chaos-page {
  background-color: $black;
  padding: 8% 12%;

  img {
    margin-bottom: 20px;
  }

  img + p,
  .videowrapper + p {
    margin-top: -20px;
  }

  article {
    padding: 0 6% 0 0;
  }

  h1 {
    font-family: $ff-krona;
    font-size: 72px;
    color: $white;
    margin: 0 0 20px;
  }

  h2 {
    font-family: $ff-krona;
    font-size: 18px;
    color: $lavender;
    margin: 24px 0 10px;
  }

  .name {
    color: $green;
    position: absolute;
    top: 20px;
    right: 2%;
    transform: rotate(9DEG);
    font-size: 48px;
  }

  p,
  a {
    font-family: $ff-scheherazade;
    font-size: 20px;
    line-height: 1.5;
    color: $grey;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: $green;
  }

  section .videowrapper {
    margin-bottom: 2%;
  }
}

.chaos-wrapper {
  display: flex;
  flex-flow: row wrap;

  img {
    width: 100%;
  }

  article {
    flex: 4;
  }

  aside {
    flex: 2;

    .videowrapper,
    img {
      margin: 0 0 20px;
    }
  }

  .image-text-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .image-text {
    width: 49%;
  }
}

.process-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  img {
    width: 32%;
    margin-bottom: 2%;
  }
}

section {
  .documentary {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .documentary__element {
    margin-bottom: 2%;

    img {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .documentary__element--1 {
    width: 100%;
  }

  .documentary__element--2 {
    width: 49%;
  }

  .documentary__element--3 {
    width: 32%;
  }
}

@media screen and (max-width: 768px) {
  .chaos-page {
    padding: 3%;

    article,
    aside {
      padding: 0;
      flex: auto;
    }

    h1 {
      font-size: 48px;
      margin: 20px 0;
    }

    .name {
      font-size: 24px;
      transform: rotate(0);
      right: 3%;
      margin: 0;
      top: 11px;
    }

    p {
      color: $light-grey;
    }
  }

  .chaos-wrapper {
    flex-flow: column wrap;
  }
}
