@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

$c-tabcolor: #f2f0f4;
$c-tabcolor-hover: hsl(270, 5%, 85%);
$c-background: #bdbdbd;
$c-essay-link: #8538ff;

$c-white: #fff;
$c-black: #000;
$c-pink: #e6c9c9;
$c-red: #881111;

$ff-helvetica: Helvetica, Arial, sans-serif;
$ff-chakra-petch: 'Chakra Petch', sans-serif;


body {
  background-color: $c-background;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h3,
h4,
h5 {
  font-family: "Source Code Pro", monospace;
}

h4 {
  color: whitesmoke;
  text-shadow: 2px 2px #9f6161;
}

a {
  color: black;
}

ol li,
ul li {
  color: $c-red;
}

.essay {
  background: $c-black;
  padding: 7%;
  
  h1 {
    font-family: $ff-chakra-petch;
    color: $c-white;
    font-size: 90px;
    margin: 0;
    padding: 0 0 2% 0;  
  }

  h2 {
    color: $c-pink;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  h2 + p {
    margin-top: 0.2em;
  }

  p {
    font-family: $ff-helvetica;
    color: $c-white;
  }

  sup {
    color: $c-essay-link;
  }

  .footnote-list sup {
    display: block;
    font-family: $ff-helvetica;

    a:last-of-type {
      color: lime;
    }
  }

  a {
    color: $c-essay-link;

    &.footnote {
      text-decoration: none;
      font-size: 0.75em;
    }
  }

  blockquote {
    color: $c-pink;
    font-family: $ff-helvetica;
  }

  .essay__body {
    width: 50%;
    max-width: 550px;
  }

  .essay__image {
    position: absolute;
    width: 35%;
    max-width: 520px;
    right: 7%;
  
    img {
      width: 100%;
    }
  }

  .essay__image--diptych {
    img {
      width: 49%;
    }
  }

  .essay__image-description {
    font-size: 0.8em;
    font-style: italic;
    color: $c-pink;
    margin: 0 0 2% 0;  
  }

  .read-more {
    font-family: $ff-chakra-petch;
    padding: 20px;
    background: white;
    border: 6px outset white;
    position: absolute;
    right: 7%;
  }
}

.essay-research {
  padding: 0 2%;
}

.research-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;

  h3 {
    flex: 0.7;
  }
}

.research-block {
  width: 46%;

  &:not(:last-of-type) {
    padding-right: 18px;
  }
}

.documentary__element,
.mixed-grid__img {
  position: relative;

  p {
    display: none;
  }
}

.documentary__element {
  width: 100%;
}

.documentary__element:hover p,
.mixed-grid__img:hover p {
  display: initial;
  background: white;
  padding: 12px;
  font-size: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.next-step {
  text-align: right;
}

.mixed-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1100px;
}

.mixed-grid__column {
  display: flex;
  flex-flow: column wrap;
  max-height: 8000px;
}

.mixed-grid__article,
.mixed-grid__img {
  background-color: white;
  padding: 2%;
  margin-bottom: 1%;
  width: 44%;
}

.mixed-grid__article {
  align-self: center;
  max-height: 520px;
  overflow-y: scroll;
  border-style: inset;
}

.mixed-grid__img {
  align-self: flex-start;
  border-style: outset;

  img {
    width: 100%;
  }
}

.mixed-grid h2 a {
  color: #695106;
}

.mixed-grid__article p {
  color: black;
}

.tabs-wrapper {
  margin-bottom: 100px;

  .tab__title {
    display: inline-block;
    background: $c-tabcolor;
    border: 3px solid black;
    border-bottom: 0;
    padding: 10px 30px;
  }

  .tab__title:hover,
  .tab__title:focus {
    cursor: pointer;
    background: $c-tabcolor-hover;
    
  }

  // .tab__title--active {
  //   background-color: red;
  // }

  .tab__content {
    background: $c-tabcolor;
    border: 3px solid black;
    padding: 3%;
    width: 1000px;

    &:not(:first-of-type) {
      display: none;
    }
  }
}

.marked {
  background-color: aqua;
  display: inline;
}

.videowrapper {
  max-width: 1000px;
  margin: 1% auto -1%;
}

@media screen and (max-width: 768px) {
  .essay {
    h1 {
      font-size: 40px;
    }

    .essay__body {
      width: 100%;
    }

    .essay__image {
      position: initial;
      margin-bottom: 2%;
      width: 100%;
    }

    .read-more {
      position: initial;
      margin: 20px 0;
    }
  }

  .research-grid,
  .mixed-grid,
  .mixed-grid__column {
    flex-flow: column nowrap;
    max-height: initial;
  }

  .mixed-grid__article,
  .mixed-grid__img,
  .videowrapper {
    margin: 1%;
    width: initial;
  }

  .research-block {
    width: 100%;
  }

  .tabs-wrapper {
    width: 90%;
    
    .tab__title {
      display: block;
      border-bottom: 3px solid black;
    }

    .tab__content {
      display: none;
      width: initial;
    }
  }
}
