@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

$tabcolor: #f2f0f4;
$background: #bdbdbd;

body {
  padding: 0 2%;
  font-size: 1.1em;
  background-color: $background;
}

h3,
h4,
h5 {
  font-family: "Source Code Pro", monospace;
}

h4 {
  color: whitesmoke;
  text-shadow: 2px 2px #9f6161;
}

a {
  color: black;
}

ol li,
ul li {
  color: #881111;
}

.research-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;

  h3 {
    flex: 0.7;
  }
}

.research-block {
  width: 46%;

  &:not(:last-of-type) {
    padding-right: 18px;
  }
}

.documentary__element,
.mixed-grid__img {
  position: relative;

  p {
    display: none;
  }
}

.documentary__element {
  width: 100%;
}

.documentary__element:hover p,
.mixed-grid__img:hover p {
  display: initial;
  background: white;
  padding: 12px;
  font-size: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.next-step {
  text-align: right;
}

.mixed-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1100px;
}

.mixed-grid__column {
  display: flex;
  flex-flow: column wrap;
  max-height: 5500px;
}

.mixed-grid__article,
.mixed-grid__img {
  background-color: white;
  padding: 2%;
  margin-bottom: 1%;
  width: 44%;
}

.mixed-grid__article {
  align-self: center;
  max-height: 520px;
  overflow-y: scroll;
  border-style: inset;
}

.mixed-grid__img {
  align-self: flex-start;
  border-style: outset;

  img {
    width: 100%;
  }
}

.mixed-grid h2 a {
  color: #695106;
}

.mixed-grid__article p {
  color: black;
}

.tabs-wrapper {
  margin-bottom: 100px;

  .tab__title {
    display: inline-block;
    background: $tabcolor;
    border: 3px solid black;
    border-bottom: 0;
    padding: 10px 30px;
    cursor: pointer;
  }

  // .tab__title--active {
  //   background-color: red;
  // }

  .tab__content {
    background: $tabcolor;
    border: 3px solid black;
    padding: 3%;
    width: 1000px;

    &:not(:first-of-type) {
      display: none;
    }
  }
}

.marked {
  background-color: aqua;
  display: inline;
}

.videowrapper {
  max-width: 1000px;
  margin: 1% auto -1%;
}

@media screen and (max-width: 768px) {
  .research-grid,
  .mixed-grid,
  .mixed-grid__column {
    flex-flow: column nowrap;
    max-height: initial;
  }

  .mixed-grid__article,
  .mixed-grid__img,
  .videowrapper {
    margin: 1%;
    width: initial;
  }

  .research-block {
    width: 100%;
  }

  .tabs-wrapper {
    width: 90%;
    
    .tab__title {
      display: block;
      border-bottom: 3px solid black;
    }

    .tab__content {
      display: none;
      width: initial;
    }
  }
}
