// body{
  //   background-image: url('../img/portfolio/background0.gif');
  //   background-size: cover;
  //   height: 100vh;
  //   padding: 0;
  //   margin: 0;
  // }
  
  h4.subtitle {
    font-family: 'f25_bank_printerregular';
    font-size: 60px;
    margin: 0;
    text-align: right;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .lookwrapper {
    overflow: scroll;
    
    img {
      max-width: 100%;
    }
    
    .slick-slider {
      margin-top: 60px;
    }
    
    .slick-prev, .slick-next {
      left: 90%;
      transform: translate(-50%, 0) rotate(90deg);
    }
    .slick-next {
      top: unset;
      bottom: 32px;
    }
    .slick-prev {
      top: 32px;
    }
  }
  
  .portfolio section {
    margin: 0;
    padding: 0;
    text-align: center;
    
    .background-img {
      max-width: 100%;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  
  .page1 {
    h3 {
      font-size: 72px;
      text-align: center;
    }
  }

  .portfolio .page3 {
    width: 100%;
    margin: 0 0 -10% 0;

    img {
      max-width: 100%;
    }

    .teapot {
      animation: want-some-tea 3s ease-in-out 1s infinite alternate;
  
    }
  }
  
  .page1,
  .page2,
  .type {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 100vw;
    
    > div {
      box-sizing: border-box; 
      width: 100%; 
      flex: none; 
    }
    
    .scene {
      margin-left: -100%; 
    }
    
    img {
      width: 100%;
    }
  }

  .page4 {
    background-image: url("../img/portfolio/tinguely1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(1);

    img {
      width: 48%;
      padding: 12%;
    }
  }
  
  .click-here {
    text-align: center;
    display: inline-block;
  }
  
  .arrow-img {
    display: inline-block;
    width: 8%;
  }
  
  .arrow-img__right {
    transform: rotate(164deg) scale(1, -1);
  }
  
  .arrow-img__left {
    transform: rotate(189deg) scale(-1, -1);
  }
  
  #second-scene {
    top: 150px;
    z-index: -1;
  }

  .polonaise {
    margin-top: -22%;
    margin-bottom: -6%;
  }

  .inspiration {
    position: absolute;
    margin-bottom: -8%;
  }
  
  .marquee {
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee > * {
    display: inline-block;
    width: 100%;
    padding-left: 100%;
  }
  
  .marquee > img {
    animation: marquee 15s linear infinite;
  }
  
  .marquee > h4 {
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }
  
  @keyframes want-some-tea {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(30deg); }
  }

  .type {
    color: white;

    img {
      width: 100vw;
    }

    .subtitle {
      position: absolute;
      right: 20px;
    }
  }
  .type__girl {
    background-image: url("../img/portfolio/type.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 125vh;
  }
  
  .type__girl:hover,
  .type__girl:active {
    background-image: url("../img/portfolio/type--hover.png");
  }

  .type__girl-wrapper {
    height: 51vh;
  }

  @media screen and (max-width: 768px) {
    h2,
    .page1 h3 {
      font-size: 32px;
    }

    h4.subtitle {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 321px) {
    h2,
    .page1 h3 {
      font-size: 24px;
    }
  }
  